h2 {
  text-align: center;
  margin-top: 3rem;
  font-size: 40px;
}

.chat {
  margin-top: 2rem;
}

ul.list-group {
  position: absolute;
  width: 100%;
  bottom: 0;
}

div.chat-content {
  border-radius: .25rem;
  height: 36rem;
  margin-bottom: 2rem;
  overflow-y: hidden;
}

.card {
  height: 100%;
}

.btn {
  width: 100%;
  text-align: center;
}

.msg-container {
  display: flex;
}

.msg-date {
  margin-left: auto;
}
