<h2>Chat</h2>
<div class="chat">
  <div class="container">
    <div class="chat-content">
      <div class="card">
        <ul class="list-group list-group-flush">

          <!-- Test -->
<!--          <li class="list-group-item">-->
<!--            <div class="msg-container">-->
<!--              <div>-->
<!--                <strong>UserTest: </strong>-->
<!--                <span>Text</span>-->
<!--              </div>-->

<!--              <div class="msg-date">03/03 à 15h00</div>-->

<!--            </div>-->
<!--          </li>-->

<!--          <li class="list-group-item">-->
<!--            <div class="msg-container">-->
<!--              <div>-->
<!--                <strong>UserTest: </strong>-->
<!--                <span>Bis</span>-->
<!--              </div>-->

<!--              <div class="msg-date">03/03 à 20h00</div>-->

<!--            </div>-->
<!--          </li>-->

          <li class="list-group-item" *ngFor="let chatMessage of webSocketService.chatMessages">
            <div class="msg-container">
              <div>
                <strong>{{ chatMessage.user }}: </strong>
                <span>{{ chatMessage.message }}</span>
              </div>

              <div class="msg-date">{{ chatMessage.date | date:"dd/MM à HH:mm"}}</div>

            </div>
          </li>

        </ul>
      </div>
    </div>
    <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
      <div class="chat-send row">
        <div class="col-2">
          <input class="form-control" type="text" style="text-align: center; font-weight: bold;" value="{{ authService.name }}" readonly>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" name="message" id="input-message" ngModel>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
