<!--<nb-layout>-->

<!--  <nb-layout-header fixed>-->
<!--  &lt;!&ndash; Insert header here &ndash;&gt;-->
<!--  </nb-layout-header>-->

<!--  <nb-layout-column>-->
    <nav *ngIf="authService.isAuth" class="navbar sticky-top navbar-expand-md navbar-dark bg-black" style="height: 50px">
      <div class="container-fluid">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="game">Game</a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="chat">Chat</a>
        </div>
      </div>
      <div class="navbar-right">
        <a class="text-white text-decoration-none">Connected as {{ authService.name }}</a>
      </div>

    </nav>

    <router-outlet></router-outlet>

<!--  </nb-layout-column>-->

<!--  <nb-layout-footer fixed>-->
<!--  &lt;!&ndash; Insert footer here &ndash;&gt;-->
<!--  </nb-layout-footer>-->

<!--</nb-layout>-->
