.game-frame {
  position: fixed;
  text-align: center;
  left: 300px;

  top: 200px;

  width: 60%;
  max-width: 60%;
}

.btn-primary {
  margin: 10px 50px;
}

.btn-dark{
  width: 75px;
}

table {
  position : fixed;
  left : 545px;
}

.result {
  position: fixed;
  top: 500px;
  left: 100px;
}
