.game-frame {
  position: fixed;
  text-align: center;
  left: 300px;

  top: 200px;

  width: 60%;
  max-width: 60%;
}

.game-content {
  display: grid;
  grid-template-columns: 150px 150px 150px;
}

app-square {
  height: 150px;
}

.btn {
  margin: 10px 50px;
}


