<button class="btn btn-primary" (click)="toggle()">Tic tac toe</button>

<div class="game-frame" *ngIf="isVisible">
  <h4>Current Player: {{ player }} </h4>

  <button class="btn btn-primary" (click)="newGame()">Start new Game</button>

  <div class="game-content">
    <app-square
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="makeMove(i)">

    </app-square>
  </div>

  <div class="result">
    <h2 *ngIf="winner">
      Player {{ winner }} won the game!
    </h2>
  </div>

</div>
