.game-frame {
  position: absolute;
  text-align: center;
  left: 20%;

  width: 60%;
  max-width: 60%;
}

.game-content {
  display: grid;
  grid-template-columns: 150px 150px 150px;
}

app-square {
  height: 150px;
}

