<button class="btn btn-primary" (click)="toggle()">Tic tac toe</button>

<div class="game-frame" *ngIf="isVisible">
  <h4>Tic Tac Toe</h4>

  <button class="btn btn-primary" (click)="newGame()">Start new Game</button>

  <div class="game-content">
    <app-square
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="makeMove(i)">

    </app-square>
  </div>

  <div class="result">
    <h2 *ngIf="winner == 'O'">
      The AI won the game!
    </h2>
    <h2 *ngIf="winner == 'X'">
      {{auth.name}} won the game!
      <button class="btn btn-success" [disabled]="gainButtonClicked" (click)="addScore(auth.name);
         gainButtonClicked = true">Gain 1 point</button>
    </h2>
  </div>

</div>
